{% extends 'base.html' %}
{% load static %}

{% block title %} Добавить строку {% endblock %}

{% block styles %}
{% endblock %}
{% block scripts %}
{% endblock %}

{% block content %}
	<a href="{% url 'table:index' %}">К таблице</a>

	<form method="post">

	    {% csrf_token %}

	    {{ formset.as_p }}

	    <input type="submit" name="submit" value="Сохранить" class="btn btn-primary btn-xs">
	    <button class="btn btn-default btn-xs"><a href="{% url 'table:delete_row' row_pk %}">Удалить текущую строку</a></button>
	    <button class="btn btn-default btn-xs"><a href="{% url 'table:index' %}">Отмена</a></button>
	</form>

{% endblock %}